.DS_Store
*.csv
**/*.env
models
*.session
*/__pycache__/**

# do not include any chroma persisted data
/chroma/**

#ignore notebooks data
/notebooks/data/**

# ignore label studio db data
/label-studio/postgres-data/**