<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Telegram NLP</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="logout"><a href="/logout" onclick="logout()">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="content">
      <div class="text-frame">
        Provide a telegram channel to analyze sentiment
      </div>
      <div class="input-container">
        <input type="text" id="channelInput" placeholder="Telegram channel ID">
        <button onclick="getMessages()" id="addItemButton">Add Item</button>
        <button onclick="clearLists()" id="addItemButton">Clear</button>
      </div>
      <div class="lists-container">
        <div>
          <h2>Top positive</h2>
          <div class="list" id="positiveList">
            <ul></ul>
          </div>
        </div>
        <div>
          <h2>Top negative</h2>
          <div class="list" id="negativeList">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      //// Check if the user is logged in (assuming you have a session variable 'phone_number')
      console.log("page loaded")
      var phoneNumber = "{{ session.get('phone_number') }}"; // Flask syntax for getting a session variable
      console.log("phoneNumber ", phoneNumber)
      // console.log("{{ session.pop('phone_number', None) }}")


      // if (phoneNumber != 'None') {
      //     // User is logged in
      //     document.getElementById('phoneNumber').value = phoneNumber;
      //     disableLogin()
      // } else {
      //     // User is not logged in
      //     enableLogin()
      // }
    });

    function getMessages() {
      // console.log("getting messages")
      // var channelId = document.getElementById('channelInput').value;
      // fetch(`get_messages?channel_id=${channelId}&n=${500}`)
      //   .then(response => response.json())
      //   .then(data => {
      //     if (data.success) {
      //       renderList(data.positive_messages, 'positiveList')
      //       renderList(data.negative_messages, 'negativeList')
      //     } else {
      //       console.log("could not fetch messages???")
      //     }
      //   }).catch(e=> console.log(e))

      m = ["qwev23rtb35tb53b53b53b35tvr", "1233eddweknciwbehbchjwebcj", 3, 4, 5, 6, 7, 8, 9, 10]

      renderList(m, 'positiveList')
      renderList(m, 'negativeList')

    }

    function renderList(messages, listId) {
      const listElement = document.getElementById(listId);
      messages.forEach(element => {
        const listItem = document.createElement('li');
        listItem.textContent = element; // Assuming each item has a "name" property
        listElement.appendChild(listItem);
      });
    }

    function clearLists() {
      const positiveList = document.getElementById('positiveList');
      positiveList.innerHTML = ""

      const negativeList = document.getElementById('negativeList');
      negativeList.innerHTML = ""
    }
  </script>
</body>

</html>